*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,body{
    min-height: 100vh;
    width: 100%;
}

.main{
    background-color: #e8d9e3;
    height: 100%;
    width: 100%;
    padding: 0.1px;
    position: relative;
    overflow: hidden;
}

.nav{
    /* background-color: red; */
    width: 100vw;
    height: 10vh;
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 6vw; */
    border-bottom: 2px solid #222;
    border-top: 2px solid #222;
}
.nav img{
    height: 9.5vh;
    margin-right: 10vw;
}
.nav .heading{
    padding-right: 6vw;
    border-right: solid 2px #222;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}
.heading h2{
    margin-left:2vw;
    font-weight: 200;
    font-size: 1.4vw;
    cursor: pointer;
}
/* .search-icon{
    width: 50px;
} */

.videoContainer{
    position: relative;
    width: 100%;
    height: 84.5vh;
    /* background-color: red; */
    padding: 2vw 5vw;
}

.box{
    /* background-color: yellow; */
    height: 100%;
    width: 100%;
    position: relative;
}
.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box-container{
    /* background-color: #222; */
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 5vw;
}

.title{
    color: white;
    font-size: 4vw;
    line-height: 3.2vw;
    font-weight: 1000;
    font-family: 'Monument Extended', sans-serif;

}

.peak{
    color: white;
    font-size: 1.6vw;
    font-family: 'Monument Extended', sans-serif;
    font-weight: 300;
    margin-top: 2vw;
}
.peakContainer{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: solid 2px white;
    margin-top: 2vw;
}
.peakContainer h2{
    color: white;
}


.scroll{
    /* background-color: red; */
    width: 100%;
    height: 23vh;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    display: inline-block;
    animation-name: scrolly;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
}
.container img{
    /* display: none; */
    height: 18vh;
    border-radius: 50%;
    margin: 1vw;
}



@keyframes scrolly{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}